<div class="w-25">
    <img class="example-element-diagram" [src]='player.photo'>
</div>

<div class="w-75">
    <table style="margin-left: 3%;">
        <tr>
            <th>Team</th>
            <th>Points</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Turnovers</th>
        </tr>
        <tr>
            <td>{{player.team}}</td>
            <td>{{player.team}}</td>
            <td>{{player.team}}</td>
            <td>{{player.team}}</td>
            <td>{{player.team}}</td>
            <td>{{player.team}}</td>
            <td>{{player.team}}</td>
        </tr>
</table>