<div id="img-container" class="container" class="w-100 h-100">
    <div class="sub-container">
        <div>
            <img src="../../../assets/shared/team_logos/{{matchup.away.toLowerCase()}}.png" alt="{{matchup.away}} Logo">
        </div>

        <div>
            <img src="../../../assets/shared/team_logos/{{matchup.home.toLowerCase()}}.png" alt="{{matchup.home}} Logo"> 
        </div>
    </div>

    <div class="sub-container">
        <div class="h-100 w-100">
            How are
        </div>

        <div class="h-100 w-100">
            you?
        </div>
    </div>
</div>