<mat-card class="card-styles">
    <div style="float: left; width: 50%;">
        <mat-tab-group class="tab-group-styles">
            <mat-tab label="PG">
                <div *ngIf="!Loading" class="table-styles"> 
                    <table mat-table [dataSource]="pgDataSource" multiTemplateDataRows class="mat-elevation-z8" >
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef>Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef >Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef>Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef>Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'PG')">add_circle</mat-icon>
                            </td>
                        </ng-container>

                         <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let player" [attr.colspan]="columnsToDisplay.length">
                            <div class="example-element-detail"
                                [@detailExpand]="player == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="example-element-diagram">
                                <div class="example-element-position"> {{player.player}} </div>
                                <div class="example-element-symbol"> {{player.team}} </div>
                                <div class="example-element-name"> {{player.price}} </div>
                                <div class="example-element-weight"> {{player.exp_fv}} </div>
                                </div>
                                <div class="example-element-description">
                                {{player.player}}
                                <span class="example-element-description-attribution"></span>
                                </div>
                            </div>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let player; columns: displayedColumns;"
                            class="example-element-row"
                            [class.example-expanded-row]="expandedElement === player"
                            (click)="expandedElement = expandedElement === player ? null : player"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    </table>
                </div>

                <mat-spinner *ngIf="Loading" style="margin: 0 auto; margin-top: 9%; margin-bottom: 9%;"></mat-spinner>
            </mat-tab>
            <mat-tab label="SG">
                <div class="table-styles"> 
                    <table mat-table [dataSource]="sgDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'SG')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="SF"> 
                <div class="table-styles"> 
                    <table mat-table [dataSource]="sfDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'SF')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div> 
                </mat-tab>
            <mat-tab label="PF">
                <div class="table-styles"> 
                    <table mat-table [dataSource]="pfDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'PF')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="C">
                <div class="table-styles"> 
                    <table mat-table [dataSource]="cDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'C')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="G">
                <div class="table-styles"> 
                    <table mat-table [dataSource]="gDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'G')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="F">
                <div class="table-styles"> 
                    <table mat-table [dataSource]="fDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'F')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="UTIL">
                <div class="table-styles"> 
                    <table mat-table [dataSource]="utilDataSource" class="mat-elevation-z8 w-100 h-100">
                        <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef style="position: sticky;">Player</th>
                        <td mat-cell *matCellDef="let player"> {{player.player}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Team">
                        <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Team</th>
                        <td mat-cell *matCellDef="let player"> {{player.team}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Exp_Fant_Pts">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Exp Fantasy Points</th>
                            <td mat-cell *matCellDef="let player"> {{player.exp_fv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Salary</th>
                            <td mat-cell *matCellDef="let player"> {{player.price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Value">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;">Value</th>
                            <td mat-cell *matCellDef="let player"> {{player.val_ratio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Add_Btn">
                            <th mat-header-cell *matHeaderCellDef  style="position: sticky;"></th>
                            <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Add Player" class="add-icon" (click)="lineupAdd(player, 'UTIL')">add_circle</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="selection-div-styles"> 
        <table mat-table [dataSource]="selectionTableDataSource" class="mat-elevation-z8 w-100 h-100">
            <ng-container matColumnDef="L_Name">
            <th mat-header-cell *matHeaderCellDef >Player</th>
            <td mat-cell *matCellDef="let player"> {{player.player}} </td>
            <th mat-footer-cell *matFooterCellDef style="font-size: 14px;"></th>
            </ng-container>
        
            <ng-container matColumnDef="L_Team">
            <th mat-header-cell *matHeaderCellDef>Team</th>
            <td mat-cell *matCellDef="let player"> {{player.team}} </td>
            <th mat-footer-cell *matFooterCellDef style="font-size: 14px; text-align: left;">Totals</th>
            </ng-container>
        
            <ng-container matColumnDef="L_Exp_Fant_Pts">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Exp Fantasy Points</th>
                <td mat-cell *matCellDef="let player" style="text-align: center;"> {{player.exp_fv}} </td>
                <th mat-footer-cell *matFooterCellDef style="font-size: 14px; text-align: center;">{{this.Total_Fntsy_Pts}}</th>
            </ng-container>

            <ng-container matColumnDef="L_Salary">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Salary</th>
                <td mat-cell *matCellDef="let player" style="text-align: center;"> {{player.price}} </td>
                <th mat-footer-cell *matFooterCellDef style="font-size: 14px; text-align: center;;">{{this.Total_Cost}}</th>
            </ng-container>

            <ng-container matColumnDef="Remove_Btn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let player"><mat-icon aria-hidden="false" aria-label="Remove Player" class="remove-icon">remove_circle</mat-icon>
                </td>
                <th mat-footer-cell *matFooterCellDef style="font-size: 14px;"></th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="selectionDisplayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let player; columns: selectionDisplayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="selectionDisplayedColumns" style="position: sticky;"></tr>
        </table>
      </div>
</mat-card>
