.mat-column-Name {
    width: 35%;
}

.mat-column-Team {
    width: 15%;
}

.mat-column-Exp_Fant_Pts {
    width: 23%;
}

.mat-column-Salary {
    width: 12%;
}

.mat-column-Value {
    width: 10%;
}

.mat-column-Add_Btn {
    width: 5%;
}

.mat-column-L_Name {
    width: 35%;
}

.mat-column-L_Team {
    width: 15%;
}

.mat-column-L_Exp_Fant_Pts {
    width: 22%;
}

.mat-column-L_Salary {
    width: 22%;
}

.mat-column-Remove_Btn {
    width: 6%;
}

.mat-column-Remove_Btn {
    width: 5%;
}

.add-icon:hover {
    color: #3F51B5 !important;
    cursor: pointer;
}

.remove-icon:hover {
    color: #3F51B5 !important;
    cursor: pointer;
}

.table-styles{
    overflow-x: auto;
    height: 575px;
    max-height: 575px;
}

.card-styles{
    margin: 1%; 
    height: 625px;
}

.tab-group-styles {
    width: 97%; 
    margin-left: 1%;
    margin-right: 2%;
}

.selection-div-styles {
    width: 47%; 
    margin-right: 1%;
    margin-left: 2%;
    float: right;
}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }