<mat-card class="card-styles">
    <div style="float: left; width: 50%;" >
        <mat-tab-group class="tab-group-styles">
                <mat-tab label="PG"> 
                    <app-player-table [dataSource]="pgDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="SG">
                    <app-player-table [dataSource]="sgDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="SF"> 
                    <app-player-table [dataSource]="sfDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="PF">
                    <app-player-table [dataSource]="pfDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="C">
                    <app-player-table [dataSource]="cDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="G">
                    <app-player-table [dataSource]="gDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="F">
                    <app-player-table [dataSource]="fDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>
                <mat-tab label="UTIL">
                    <app-player-table [dataSource]="utilDataSource" [loadingEvent]="loadingSubject.asObservable()" (addPlayerEvent)="lineupAdd($event)"></app-player-table>
                </mat-tab>        
        </mat-tab-group>
    </div>

    <div class="selection-div-styles" style="height: 90%; max-height: 90%;"> 
        <table mat-table [dataSource]="selectionTableDataSource" class="mat-elevation-z8 w-100 h-100" style="margin-bottom: 1%;">
            <ng-container matColumnDef="L_Name">
            <th mat-header-cell *matHeaderCellDef >Player</th>
            <td mat-cell *matCellDef="let player"> {{player.player}} </td>
            <th mat-footer-cell *matFooterCellDef></th>
            </ng-container>
        
            <ng-container matColumnDef="L_Team">
            <th mat-header-cell *matHeaderCellDef>Team</th>
            <td mat-cell *matCellDef="let player"> {{player.team}} </td>
            <th mat-footer-cell *matFooterCellDef class="ta-l fs-14">Totals</th>
            </ng-container>
        
            <ng-container matColumnDef="L_Exp_Fant_Pts">
                <th mat-header-cell *matHeaderCellDef class="ta-c">Exp Fantasy Points</th>
                <td mat-cell *matCellDef="let player" class="ta-c"><span *ngIf="player.player !== ''">{{player.exp_fv}}</span></td>
                <th mat-footer-cell *matFooterCellDef class="ta-c fs-14">{{this.Total_Fntsy_Pts}}</th>
            </ng-container>

            <ng-container matColumnDef="L_Salary">
                <th mat-header-cell *matHeaderCellDef class="ta-c">Salary</th>
                <td mat-cell *matCellDef="let player" class="ta-c"><span *ngIf="player.player !== ''">{{player.price}}</span></td>
                <th mat-footer-cell *matFooterCellDef class="ta-c fs-14"><span [ngClass]="{'salary-excess': this.Total_Cost > 50000}">{{this.Total_Cost}}</span>/50000</th>
            </ng-container>

            <ng-container matColumnDef="Remove_Btn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let player"><mat-icon *ngIf="player.player !== ''" aria-hidden="false" aria-label="Remove Player" (click)="removePlayer(player)"
                    class="remove-icon">remove_circle</mat-icon>
                </td>
                <th mat-footer-cell *matFooterCellDef></th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="selectionDisplayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let player; columns: selectionDisplayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="selectionDisplayedColumns" style="position: sticky;"></tr>
        </table>

        <mat-card style="height: 5%; width: 95%;">
            <button mat-raised-button class="app-bg-color" style="float: right; color: white;" (click)="selectLineup()">Auto-select</button>
            <button mat-raised-button color="warn" style="float: right; margin-right: 1%;" (click)="clearLineup()">Clear</button>
        </mat-card>
      </div>
</mat-card>
