.example-element-diagram {
  min-width: 90px;
  padding: 0px;
  margin: 0px 0;
  height: 114px;
}

.mat-column-Team {
  width: 12%;
}

.mat-column-3P {
  width: 12%;
}

.mat-column-2P {
  width: 12%;
}

.mat-column-Assits {
  width: 12%;
}

.mat-column-Rebounds {
  width: 12%;
}

.mat-column-Steals {
  width: 12%;
}

.mat-column-Blocks {
  width: 12%;
}

.mat-column-Turnovers {
  width: 14%;
}

.cancel-icon:hover{
  color: #3F51B5 !important;
  cursor: pointer;
}