@import '~@angular/material/theming';

.player-comp-shadow {
  // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
  @include mat-elevation(2, #e91e63, 0.8);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-bg-color {
    background-color: #3F51B5 !important;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.w-85{
    width: 95%;
}

.h-85{
    height: 95%;
}

.w-75{
    width: 75%;
}

.h-75{
    height: 75%;
}

.w-50{
    width: 50%;
}

.h-50{
    height: 50%;
}


.w-25{
    width: 25%;
}

.h-25{
    height: 25%;
}


